@model VaporWebSite.App.Models.UserDlc

@{
    ViewData["Title"] = "Purchase";
}

<h1>Purchase</h1>

<h4>UserDlc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Purchase">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dlc.Dlcid" class="control-label"></label>
                <input asp-for="Dlc.Dlcid" class="form-control" readonly="readonly" />
                <span asp-validation-for="Dlc.Dlcid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dlc.Name" class="control-label"></label>
                <input asp-for="Dlc.Name" class="form-control" readonly="readonly" />
                <span asp-validation-for="Dlc.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
