@model VaporWebSite.App.Models.FullDlc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dlc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Dlc.Name" class="control-label"></label>
                <input asp-for="Dlc.Name" class="form-control" />
                <span asp-validation-for="Dlc.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dlc.Price" class="control-label"></label>
                <input asp-for="Dlc.Price" class="form-control" />
                <span asp-validation-for="Dlc.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dlc.GameId" class="control-label"></label>
                @Html.DropDownListFor(model=>model.Dlc.GameId,
new SelectList(Model.AllGames,"GameId","Name" ) , "Select Game", "form-control")
                <span asp-validation-for="Dlc.GameId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
