@model VaporWebSite.App.Models.Account

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterInput">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control bg-secondary text-white" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control bg-secondary text-white" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <label asp-for="Admin" class="control-label"></label>
            <input type="checkbox" asp-for="Admin" />
            <span asp-validation-for="Admin" class="text-danger"></span>



            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-outline-light" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
